.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Высота на весь экран */
}

.loader {
  border: 8px solid #f3f3f3; /* Светлый цвет фона */
  border-top: 8px solid #3498db; /* Цвет верхней части */
  border-radius: 50%;
  width: 50px; /* Ширина прелоадера */
  height: 50px; /* Высота прелоадера */
  animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}